<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AtomicInformationConfigManagerPU" transaction-type="JTA">
    <jta-data-source>MySQLAtomicInformationConfigurationManagerDB</jta-data-source>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Artefact</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Artefactdistribution</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Atomicinformation</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Distributionrecipient</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Methodofdistribution</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Project</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.Typeofatomicinformation</class>
    <class>com.mycompany.atomicinformationconfigurationmanager.entities.BaseEntity</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
